<!DOCTYPE html>
<html>
  <head>
    <title>TF2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <!--Sidebar content-->
          <ul class="nav nav-list">
          
            <li class="nav-header">Fundamentals</li>
            <li><a href="#class-pocket">Pocket</a></li>
            <li><a href="#class-roamer">Roamer</a></li>
            <li><a href="#class-demo">Demo</a></li>
            <li><a href="#class-scout">Scout</a></li>
            <li><a href="#class-medic">Medic</a></li>
            
            <li class="nav-header">Team Mechanics</li>
            <li><a href="#team-uber-adv">Uber Advantage</a></li>
            <li><a href="#team-num-adv">Number Advantage</a></li>
            <li><a href="#team-leapfrog">Leapfrogging</a></li>
            <li><a href="#team-dry-push">Dry Pushing</a></li>
            <li><a href="#team-forward">Forward Holds</a></li>
            <li><a href="#team-grind-picks">Grinding Picks</a></li>
            <li><a href="#team-positioning">Positioning</a></li>
            <li><a href="#team-health-mgmt">Health Management</a></li>
            <li><a href="#team-kritz">Using Kritzkrieg</a></li>
            <li><a href="#team-fights">Teamfights</a></li>
            <li><a href="#team-off-classing">Off-classing</a></li>
            
            <li class="nav-header">Advanced</li>
            <li><a href="#adv-meta">Exploiting Meta</a></li>
            <li><a href="#adv-push-out-last">Pushing out of last</a></li>
            <li class="nav-header">Map Guides</li>
            <li><a href="#cp_granary">cp_granary</a></li>
            <li><a href="#cp_badlands">cp_badlands</a></li>
            <li><a href="#cp_snakewater">cp_snakewater</a></li>            
            
            <li class="nav-header">Appendix</li>
            <li><a href="#apdx-naming">Map Naming Conventions</a></li>
            <li><a href="#apdx-roll-outs">Roll Outs</a></li>
            <li><a href="#apdx-pugging">Pugging Systems</a></li>
            <li><a href="#apdx-training">Training Maps</a></li>
            <li><a href="#apdx-leagues">Competitive Leagues</a></li>
            <li><a href="#apdx-demos">Reviewing Demos</a></li>
            <li><a href="#apdx-server">Server Setup</a></li>
            
            <li class="nav-header">Glossary</li>
            <li><a href="#gls-terminology">Terminology</a></li>
          </ul>
        </div>
        <div class="span9">
          <!--Body content-->
          {{ content }}
        </div>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
